.path-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.path-search {
    position: absolute;
    padding-left: 1rem;
    z-index: 999;
    left: 0;
    top: 0;
}