$titleColor: #1890ff;
$titleSize: .2rem;
$titleBorder: 0.01rem solid #e5e5e5;

.objOrderList {
    .objOrderList-row {
        margin-top: .2rem;
    }
    .objOrderList-title {
        padding: .1rem;
        font-size: $titleSize;
        color: $titleColor;
        background-color: #fff;
        box-shadow: 0 0.03rem 0.03rem rgba(0,0,0,.05);
        .objOrderList-info {
            font-size: 0.14rem;
            span {
                color: #666;
            }
        }
    }
    .wheelPathCon-wrapper {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.65);
    }
}
.operate-btn {
    margin-right: 1em;
}